@import "src/theme/varible.scss";
.el-popover__wrapper {
  position:relative;
  display:inline-block;
  .el-popover{
    position:absolute;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 12px rgb(0 0 0 / 10%);
    border: 1px solid #EBEEF5;
    box-sizing:border-box;
    padding: 18px 20px;
    min-width: 150px;
    word-break: break-all;
    text-align: justify;
    font-size: 14px;
    line-height: 1.4;
    color:#606266;
  }
}
.popper__arrow, .popper__arrow::after{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: transparent;
  width:0px;
  height:0px;
  border: 6px solid transparent;
}
.popper__arrow::after{
  content: "";
}
// placement top
.el-popover[x-placement ^= "top"] .popper__arrow {
  margin-left:-3px;
  top: 100%;
  left: 50%;
  border-bottom-width: 0px;
  border-top-color: rgb(235, 238, 245);
}
.el-popover[x-placement ^= "top"] .popper__arrow::after{
  top: -6px;
  margin-left: -6px;
  border-bottom-width: 0px;
  border-top-color: #ffffff;
}
// placement bottom
.el-popover[x-placement ^= "bottom"] .popper__arrow {
  margin-left:-3px;
  top: -6px;
  left: 50%;
  border-top-width: 0px;
  border-bottom-color: rgb(235, 238, 245);
}
.el-popover[x-placement ^= "bottom"] .popper__arrow::after{
  top: 1px;
  margin-left: -6px;
  border-top-width: 0px;
  border-bottom-color: #ffffff;
}
// placement left
.el-popover[x-placement ^= "left"] .popper__arrow {
  margin-top:-6px;
  top: 50%;
  left: 100%;
  border-right-width: 0px;
  border-left-color: rgb(235, 238, 245);
}
.el-popover[x-placement ^= "left"] .popper__arrow::after{
  margin-top: -6px;
  margin-left: -6px;
  border-right-width: 0px;
  border-left-color: #ffffff;
}
// placement right
.el-popover[x-placement ^= "right"] .popper__arrow {
  margin-top:-6px;
  top: 50%;
  left: -6px;
  border-left-width: 0px;
  border-right-color: rgb(235, 238, 245);
}
.el-popover[x-placement ^= "right"] .popper__arrow::after{
  margin-top:-6px;
  border-left-width: 0px;
  border-right-color: #ffffff;
}

/** dialog-fade 动画 */
.dialog-fade-enter-active{
  animation: dialog-fade-in 0.3s;
}
.dialog-fade-leave-active{
  animation: dialog-fade-out 0.3s;
}
@keyframes dialog-fade-in {
  0%{
    transform:translateY(-20px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes dialog-fade-out {
  0%{
    transform:translateY(0px);
    opacity: 1;
  }
  100%{
    transform: translateY(-20px);
    opacity: 0;
  }
}